/03-Futbola/nbproject/private/
/03-Futbola/build/
/04-Monstruoak/build/
/05-Erosketak/nbproject/private/
/05-Erosketak/build/
/2020-02-18Hasierakoa/build/
/AzterketaZuzenduta/nbproject/private/
/AzterketaZuzenduta/build/
/UD4/HiztegiaSQLite/nbproject/private/
/UD4/HiztegiaSQLite/build/
/HistegiaSQLiteMVC/nbproject/private/
/HistegiaSQLiteMVC/build/
/UD4/HistegiaSQLiteMVCPOJO/nbproject/private/
/UD4/HistegiaSQLiteMVCPOJOItzultzailea/nbproject/private/
/UD4/HistegiaSQLiteMVCPOJO/build/
/UD4/StreamekinLanean/nbproject/private/
/UD4/StreamekinLanean/build/
/UD4/HiztegiaTextFileMVCPOJO/nbproject/private/
/UD4/HiztegiaTextFileMVCPOJO/build/
/UD4/HistegiaSQLiteMVC/build/
/Azken Proiektua/HiztegiaSQLiteMVCPOJO/build/
